body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20px;
}

.colored {
  background-color: darkslategrey;
}

.grid-container {
  display: flex;
  width: 50%;
  min-height: 650px;
  border: 2px solid darkslategray;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
}
